html {
	min-height: 100%;
	position: relative;
}

body {
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	background: -webkit-linear-gradient(#F9ECEC, #E9BDBD);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F9ECEC, #E9BDBD);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F9ECEC, #E9BDBD);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#F9ECEC, #E9BDBD);
	/* Standard syntax (must be last) */
}

h1 {
	font-size: 24pt;
}

.content {
	height: 100%;
	margin: 0px;
	margin-bottom: 100px;
	padding: 0px;
	padding-top: 2%;
}

.row_container {
	width: 100%;
	text-align: center;
}

.reverse_row_container {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.column_container {
	display: inline-block;
	width: 70%;
	margin: 0px;
	padding: 0px;
	padding-right: 10px;
	text-align: right;
}

.card {
	display: inline-block;
	border: 1px solid #0038A8;
	border-top: 5px double #0038A8;
	padding: 10px;
	background: #FFFFFF;
	margin: 0 auto;
	text-align: justify;
}

.card a {
	text-decoration: none;
	color: #F2C603;
}

.card a:hover {
	color: #0038A8;
}

.info_card {
	width: 100%;
	padding: 0px;
	border: none;
	background: transparent;
	text-align: center;
	font-family: 'Fondamento', serif;
	color: #555555;
	font-style: italic;
}

.menu_card {
	float: right;
	position: relative;
	right: 5%;
	width: 15%;
	min-width: 250px;
	margin: 10px;
	margin-left: 5px;
	padding: 0px;
	padding-bottom: 20px;
	padding-right: 5px;
}

.menu_card a {
	text-decoration: none;
}

.menu {
	text-decoration: none;
	font-family: 'Fondamento', serif;
	display: inline-block;
	font-size: 12pt;
	text-align: left;
}

.menu li:before {
	font-family: 'FontAwesome';
	content: '\f0a9  ';
	//color: #F2C603;
	color: white;
}

.menu li {
	list-style: none;
	padding-top: 10px;
	margin: 15px;
	margin-left: -20px;
	border-top: 1px solid #96d1f8;
	background: #0b517a;
	background: -webkit-gradient(linear, left top, left bottom, from(#468cb8),
		to(#0b517a));
	background: -webkit-linear-gradient(top, #468cb8, #0b517a);
	background: -moz-linear-gradient(top, #468cb8, #0b517a);
	background: -ms-linear-gradient(top, #468cb8, #0b517a);
	background: -o-linear-gradient(top, #468cb8, #0b517a);
	background: linear-gradient(#468cb8, #0b517a);
	padding: 11.5px 23px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	text-decoration: none;
	vertical-align: middle;
}

.menu .current {
	color: #F2C603;
}

.menu li:hover {
	border-top-color: #4281ab;
	background: #4281ab;
	color: #ffd900;
}

.menu li:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

.menu .home:before {
	font-family: 'FontAwesome';
	content: '\f015  ';
	//color: #F2C603;
	color: white;
}

.menu .home {
	font-weight: bold;
	padding-bottom: 10px;
}

.cover_card {
	width: 30%;
	min-width: 200px;
	margin: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
}

.cover_card .imgbox {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.cover_card img {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.list_card {
	width: 90%;
	min-width: 260px;
	margin: 20px;
	margin-top: 0px;
	padding-bottom: 15px;
}

.list_card img {
	width: 25%;
	min-width: 100px;
	float: left;
	margin: 20px;
}

.detail_card {
	width: 85%;
	min-width: 260px;
	margin: 0px;
	position: relative;
	display: inline-block;
}

.detail_card img {
	float: right;
	margin: 20px;
	max-width: 50%;
}

.cover_card header, .list_card header {
	font-family: 'Fondamento', cursive;
	font-size: 24pt;
	color: #F2C603;
	padding: 10px;
	padding-top: 0px;
}

.detail_card header, .menu_card header {
	font-family: 'Fondamento', cursive;
	font-size: 24pt;
	color: #0038A8;
	padding-left: 20px;
}

.detail_card p {
	text-indent: 0px;
}

.card .readmore {
	appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;
	text-decoration: none;
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 10pt;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	color: #0038A8;
}

.card .readmore:hover {
	color: #F2C603;
}

article {
	font-family: 'Calibri', serif;
	font-size: 10pt;
	padding-left: 20px;
	padding-bottom: 50px;
}

article .emphasis {
	font-style: italic;
	font-size: 12pt;
}

article .for_more_info {
	padding-top: 20px;
	font-size: 10pt;
	color: #0038A8;
	font-weight: bold;
}

article .for_more_info a {
	font-weight: bold;
}

footer {
	clear: both;
	padding-top: 10px;
}

.bottom_bar {
	position: absolute;
	bottom: 0px;
	margin-top: 10px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 5px;
	width: 100%;
	background: #555555;
	text-align: center;
	vertical-align: middle;
	font-family: 'Lora', serif;
	font-size: 10pt;
	color: #FFFFFF;
}

.bottom_bar img {
	max-height: 40px;
	vertical-align: middle;
}